<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Create A Basketball Team!</title>
  
  <form method='POST' action='/team' name='team_form'>

  <h1> Create a Basketball Team!</h1>
  <p>Team Name: <input type="text" name="name"></p>
  <p>Coach: <input type="text" name="coach"></p>
  <p>Point Guard: <input type="text" name="pg"></p>
  <p>Shooting Guard: <input type="text" name="sg"></p>
  <p>Power Foward: <input type="text" name="pf"></p>
  <p>Small Forward: <input type="text" name="sf"></p>
  <p>Center: <input type="text" name="c"></p>
 
  <button id="Submit"><input type="submit">
</button>
  </form>
 </head>
 <body>
 </body>
</html>


